page {
	background-color: white;
}
.app-welcome {
	margin: 30rpx 70rpx;/*margin 属性为给定元素设置所有四个（上下左右）方向的外边距属性。也就是 margin-top，margin-right，margin-bottom，和 margin-left 四个外边距属性设置的简写 */
	display: flex;
	flex-direction: row;
}
.app-welcome image {
    width: 100rpx;
    height: 100rpx;
	/* 图片圆角为50 */
    /* border-radius: 50%; */
}

.welcome-img-box {
	margin: 30rpx 30rpx;
/* 	background-image: url("../../static/image/wave (2).png");
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: 100% auto; */
}

.welcome-img-box image {
	width: 100%;
	/* height : 100%; */
	/* object-fit: cover; */
}

.button {
    border-radius: 80rpx;
    margin: 70rpx 50rpx;
    font-size: 35rpx;
}

.login-way-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20rpx auto;
}
  
.login-way-box {
	margin: 10rpx auto;
}

.login-way {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.login-way image {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
}
