/* pages/mypage/mypage.wxss */
.gradual-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0%;
	bottom: 0;
	background: linear-gradient(to bottom, #4aa1ed ,#F4F4F4 50%);
	z-index: -1;

}

.userInfo-box {
	padding-bottom: 20rpx;
	padding-left:  50rpx;
	padding-right:  50rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	/* border-style: solid; */
}

.userAvatar-box image {
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
	/* border-style: solid; */
}



.userlogin {
    height: 100%;
	margin-left: 20rpx;
	align-self: center;
	/* margin : 0 670rpx 0 60rpx; */
    float: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
	/* border-style: solid; */
}

.userNotice {
	margin-left: auto;
	margin-right: 0;
	font-size: 60px;
}


.zfjc-image {
	height: 60rpx;
	margin-left: 20rpx;
}

.content-box {
    margin: 15rpx 27rpx;
    border-radius: 16rpx;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px rgba(39, 48, 57, 0.05);
}

.content-title {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-weight: bold;
	font-size:16;
    /* background-color: hotpink; */
}

.content-row {
    height: 45px;
    border-bottom: 1rpx #f0f0f0 solid;
	display: flex;
	flex-direction: row;
}

.content-icon-left {
	width: 10px;
	height: 10px;
	padding-left: 10px;
	padding-top: 18px;
}

.content-icon-right {
	width: 25px;
	height: 25px;
	display: flex;                    //flex布局
	justify-content: right;         //水平轴线居中
	align-items: center;                //垂直居中
	
}

.content-text {
	width: 240rpx;
	font-size:12;
	line-height: 45px;
	text-align: left;
	padding-left: 10px;
}

.image-arrow {
	width: 10px;
	height: 10px;
	padding-left: 140px;
	padding-top: 17px;
}

