/* pages/placeorder/placeorder.wxss */

.box-radius {
    border-radius: 16rpx;
    box-shadow: 10rpx 10rpx 5rpx rgba(39, 48, 57, 0.05);
}



switch {
	transform: scale(0.8);
}


.content-num-before {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.button{
	border-radius: 80rpx;
	margin: 40rpx 50rpx;
	font-size: 35rpx;
}

