/* pages/select/select.css */

.submitButton {
  width: 686rpx;
  height: 100rpx;
  background: linear-gradient(90deg,rgba(75,173,255,1) 0%,rgba(37,152,247,1) 100%);
  border: 4rpx;
  margin: 100rpx auto;
  text-align: center;
}

.submitButton text {
  width: 139rpx;
  display: inline-block;
  margin-top: 10rpx;
  font-size: 36rpx;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 48rpx;
}

.selectFormView {
  display: flex;
  flex-direction: row;
}

.selectFormView label {
  width: 150rpx;
  line-height: 50rpx;
  padding: 150rpx 45rpx 10rpx 90rpx;
}

.selectFormView input {
  width: 350rpx;
  height: 50rpx;
  padding: 150rpx 35rpx 5rpx 5rpx;
}

.select {
  width: 700rpx;
  height: 380rpx;
  padding: 5rpx 5rpx 90rpx 5rpx;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.upStytle {
  width: 800rpx;
  height: 45rpx;
  background: #f0f0fc;
}

.leftStytle {
  width: 20rpx;
  height: 400rpx;
  background: #f0f0fc;
}

.rightStytle {
  width: 750rpx;
  padding-left: 20rpx;
  padding-right: 20rpx;
}

.allStytle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

