@font-face {
  font-family: "iconfont"; /* Project id 3987009 */
  src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
   width: 1em; height: 1em;//宽高可设成100% 这样可以根据父级元素改变图标大小
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
		
		

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}
		
.icon-31fanhui1:before {
  content: "\e600";
}

.icon-doc:before {
  content: "\e6a3";
}

.icon-7z:before {
  content: "\e6a4";
}

.icon-CSV:before {
  content: "\e6a5";
}

.icon-file-empty:before {
  content: "\e6a6";
}

.icon-gif:before {
  content: "\e6a7";
}

.icon-MP4:before {
  content: "\e6a8";
}

.icon-txt:before {
  content: "\e6a9";
}

.icon-pdf:before {
  content: "\e6aa";
}

.icon-rar:before {
  content: "\e6ab";
}

.icon-wenjiangeshi_ppt:before {
  content: "\e6ac";
}

.icon-wenjiangeshi_png:before {
  content: "\e6ad";
}

.icon-wenjiangeshi_jpg:before {
  content: "\e6ae";
}

.icon-xls:before {
  content: "\e6af";
}

.icon-wenjiangeshi_xlsx:before {
  content: "\e6b0";
}

.icon-wenjiangeshi_svg:before {
  content: "\e6b1";
}

.icon-zip:before {
  content: "\e6b2";
}

.icon-unknow:before {
  content: "\e6b3";
}

.icon-peixun:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\e626";
}

.icon-gouwuche:before {
  content: "\e669";
}

.icon-fuwu:before {
  content: "\e66f";
}

.icon-shoucang:before {
  content: "\e625";
}
